html {
  background: linear-gradient(-225deg, #c33764 0%, #1d2671 100%);
  color: white;
  font-family: Helvetica;
}
h3 {
  text-shadow: 0px 7px 10px #000000a6;
  transition: 0.7s;
  letter-spacing: 2px;
  font-weight: 6;
}

h4 {
  text-shadow: 0px 7px 10px #000000a6;
  transition: 0.7s;
  letter-spacing: 2px;
  font-weight: 6;
}

h4:hover {
  letter-spacing: 10px;
  text-shadow: 0px 7px 10px #000000;
}

h3:hover {
  letter-spacing: 10px;
  text-shadow: 0px 7px 10px #000000;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#top {
  display: grid;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#container {
  height: 575px;
  width: 575px;
  display: grid;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.grid {
  background: rgba(0, 0, 0, 0.384);
  border: 1px solid rgba(0, 0, 0, 0);
}
